body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px!important;
	background: #e6ecf0;
}
ul{
	margin-top: 6px;
	margin-bottom: 0px;
	height: 30px;
}
.menu_list li{
	display: inline-block;
	margin-left: 20px;
	    height: 46px;
	    color: #66757f
}

.menu_list li a{
	font-weight: bold;
};

.menu_list li  a:focus {
    color: #1DA1F2;
}

.menuRight{
	text-align: left;
	display: inline-block;
}
.top_bar{
	background-color: white;
}
.top_left_section{
  padding-left: 0;
  padding-right: 0;
}
.form-control{
	font-size: 13px!important;
	    border-radius: 14px;
	    max-width: 100%;
}
.btn{
	font-size: 13px!important;
	border-radius: 2rem!important;

}
.white_section{
	background-color: white;
	margin-top: 10px;
}

.white{
	background-color: white;
	border-bottom: 1px solid #b3c3ce;
	padding-left: 0px;
	padding-right: 0px;
}
.name{
	text-align: center;
	margin-top: 50px;
}

a{
	font-weight: bold;
}
.text_separator_10{
	margin-left: 10px;
	margin-right: 10px;
}
.strong{
	font-weight: bold;
}
.profile_footer{
	text-align: center;
}
.header_profile{
	background-color: #1DA1F2 !important;
	height:95px;
}
.trends_header{
	margin-top: 10px;

}
.trends_header p{
	    font-size: 18px;
    font-weight: bold;
}
.info_trends{
	font-size: 13px;
	color: gray!important;
	font-weight: normal;
}
.trends_body {
	font-size: 15px!important;
}

.related_users{
	font-size: 15px!important;
}
.related_users p{
	margin-bottom: 0px;
}
.tweet{
	margin-top: 10px;
	margin-bottom: 10px;
}
.top_main{
	padding: 0;
	background-color:#E8F5FD;
}
.text_right {
	text-align: right;
	margin-bottom: 10px;
}
.characters{
	margin-right: 10px;
}
.center{
	text-align: center;
}
.older{
	padding: 0;
    background-clip: padding-box;
    background-color: #f5f8fa;
        border-bottom: 1px solid #ccd6dd;
    border-top: 1px solid #ccd6dd;
}
.older:hover{
      background-color: #e6ecf0;
    border: 1px solid #ccd6dd;
}
.new_tweets{
	height: 40px;
	font-weight: normal;
	font-size: 14px;
}
.main_tweet{
  margin-left: 40px;

	margin-top: 20px;
	padding-left: 0;
	font-size: 14px;
	padding-right: 0px;
}
hr{
	    margin-top: 10px;
}
.login{
	width: 40%;
	margin-top: 200px;
}
#container {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.navbar {
    margin-bottom: 0;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border: none;
    border-radius: 0;
    box-shadow:0 1px 5px #888888;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand {
    position: relative;
    padding: 21px 25px 21px 25px;
    margin: 0!important;
    transition: all 0.3s ease-in-out;
    color: #1DA1F2;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav {
    margin-right: 0px!important;
    position: relative;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    margin-left: 5px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #1DA1F2;
    display: block;
    font-size: 14px;
    font-weight: 200;
    padding: 20px 20px 7px 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a {
    border-bottom: 3px solid #fff;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
    border-bottom: 3px solid #1DA1F2;
}
.white :hover{
background-color:#f5f8fa;
}
.content_tweet{
	border-bottom: 1px solid #b3c3ce;
}
.tweet_image{
	width: 400%;
	margin-top: 20px;
	border-radius: 50%;
    background-size: 100% auto;
}
.fullname {
    color: #14171a;
    font-size: 14px;
    font-weight: bold;
}
.username {
    font-size: 14px;
    color: #657786;
}

.paddind_left{
	padding-left: 20px;
}
.tweet_image_2{
width: 200%;
	margin-top: 20px;
	border-radius: 50%;
    background-size: 100% auto;
}
.tweet_image_3 {
    width: 100%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-top: -40px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: #f5f8fa;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group,
.search-form .form-group.hover {
  width: 100%;
  margin-top: 6px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.active{
	border-bottom: 3px solid #1DA1F2;
}
.navbar-center{
	    position: absolute!important;
    left: 50%;
    margin-left: -12px;
}
.icon{
    /* width: 200%; */
    height: 90%;
    margin-top: 12px;
    border-radius: 50%;
    background-size: 100% auto;
}
.image_right{
	width: 40%;
	float: right !important;
	margin-left: 20px;
    width: 32px;
    height: 32px;
}
.form-group{
	width: 50%!important;
}
.navbar-right{
	width: 40%
}
.container{
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (min-width: 1200px) {
    .container {
    width: 1240px;
}
}
.tweet_topbar{
	width: 20%;
	float: right !important;
	margin-left: 20px;
}
.button_bar{
	margin-top: 6px;
	width: 100%;
	height: 32px;
	background-color: #55acee;
	font-weight: bold;
	font-size: 15px!important;
}
.button_bar:hover{
  background-color: #4AB3F4;
}
.tweet_image_input{
  width: 200%;
    margin-top: 10px;
    border-radius: 50%;
    background-size: 100% auto;
}

textarea.tweet{
  height:35px;
}
.load_tweets{
      padding: 10px 1px;
    display: inline-block;
    color: #1da1f2;
}
h4{
  font-weight: bold;
}
.username_id{

      font-size: 14px;
    color: #657786;
}
a:focus , a:hover{
      color: #1DA1F2;
}
.count_footer{
  display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
}

@media screen and (max-width: 1200px) {
    .container {
     width: 1240px;
    }
    .clearfix :{
        width: 1240px;
            margin-right: auto;
    margin-left: auto;
    }
}
.main_recommended {
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 0;
    font-size: 14px;
    padding-right: 0px;
}